.dashboardHeader{
    width: 100%;
    height: 75px;
    background: #46522A;
}

.dashboardHeader > img {
    margin-left: 30%;
}

.logoImage {
    width: 75px;
    height: 75px;
}

.searchDiv{
    float: left;
}

.searchDiv > label {
    color: #46522A;
}

.searchBar{
    height: 45px;
    margin-top: 15px;
    margin-left: 10px;
    border-radius: 5px;
    color: #46522A;
    background-color: #D1E7E0;
}

.logout_btn{
    height: 45px;
    color: #46522A;
    background-color: #D1E7E0;
    border-radius: 5px;
    font-size: larger;
    float: right;
    margin-top: 15px;
    margin-right: 10px;
}