.bookslist {
    margin-top: 15px;
    margin-bottom: 15px;
}

.div_container{
    display: flex;
}

.flex_child{
    flex: 1;
    width: 500px;
}

.btn{
    color: #D1E7E0;
    background-color: #46522A;
    border-radius: 5px;
    font-size: larger;
    display: block;
    padding: 5px;
    margin: 5px auto;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.register_form{
    background-color: white;
    
    margin-top: 3vh;
    width:50%;
    float:left;
    padding: 20px; 
    text-align: center
}

.addBookMessage{
    color: #46522A;
    font-weight: bold;
}

.form_label{
    display: block;
    font-size: larger;
    color: #46522A;
    padding: 4px;
}

.form_input{
    font-size: larger;
    padding: 4px;
    margin: 2px;
}

.image > input {
    margin-left: 9vh;
    margin-bottom: 2vh;
}